# atom
*.atom

# dart
*\.packages
build
.buildlog
.pub/
pubspec.lock
packages
.dart_tool/pub/bin/build_runner
.dart_tool/pub/bin/test

# idea
*.iml
*.ipr
*.iws
.idea/
*.dart.js
*.js_
*.js.deps
*.js.map
